<h1>What are you looking for? </h1>


<%= form_for(@user, :url => profile_path(current_user.id),) do |f| %>
  <%= f.label :target_gender %>
  <%= f.select :target_gender, [["female"],["male"]]%>
  <br>
  <%= f.label :target_min_age %>
  <%= f.number_field :target_min_age, min: 18 %>
  <br>
  <%= f.label :target_max_age %>
  <%= f.number_field :target_max_age, min: 18 %>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br>
  <%= f.submit 'Next' %>
<% end %>