<h1>What are you looking for? </h1>


<%= form_for(@user) do |f| %>
  <%= f.label :target_gender %>
  <%= f.text_field :target_gender %>

  <%= f.label :target_min_age %>
  <%= f.text_field :target_min_age %>

  <%= f.label :target_max_age %>
  <%= f.text_field :target_max_age %>

  <%= f.submit %>
<% end %>