<% content_for(:title) do %>
  Home
<% end %>

<div id="banner" >
  <img src="http://s22.postimg.org/9ee2xv5g1/logotinder.png" id="logo">

  <h1>Show your best side</h1>
  <p>Tinder Genius helps you pick the right picture to get more matches on Tinder.</p>

  <div id="invit">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <%= form_tag({controller: "home", action: "subscribe"}, method: "post", class: "form-inline") do %>
           <div class="form-group">
              <%= label_tag(:email, "Ask for an invitation") %>
              <%= email_field_tag(:email, nil, options = {placeholder: "Enter your email", class: "form-control"}) %>
              <%= submit_tag("I want it", class: "btn btn-danger") %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="mdp" class="hidden">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <form class="form-inline" role="form" >
            <div class="form-group">
              <input type="password"  id="password" placeholder="Enter your code">
              <input  value="start" class="btn btn-danger btn-sm" id="start">
            </div>
          </form>
          <input type="submit" value="Back" id="back" class="btn btn-xs btn-password">
        </div>
      </div>
    </div>
  </div>

  <div id="ihaveacode">
    <div class="container">
      <div class="row">
        <div class="text-center">
              <input type="submit" value="I have a code" class="btn btn-xs btn-password">
        </div>
      </div>
    </div>
  </div>




  <div id="fbbut" class="hidden">
    <%= render 'fb_login' %>
  </div>
  <div id="footer">
    <ul class="list-inline social text-center">
      <li>
        <a href="https://twitter.com/Tinder_Genius" TARGET="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/tindergenius" TARGET="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <%= link_to beer_path() do %>
          <i class="fa fa-beer "></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>


