<% content_for(:title) do %>
   Vote
<% end %>

<h1> <strong>Which one do you prefer?</strong> </h1>

<div class="container">

  <div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-6">
      <div class="stack twisted text-center">
        <%= link_to campaign_votes_path(
          vote: {
            voted_picture_id: @campaign.picture_a_id
          },
          campaign_id: @campaign.id),
          method: :post do %>
          <%= image_tag (Picture.find(@campaign.picture_a_id).file), size: "300x300" %>
        <% end %>
      </div>
    </div>

     <div class="col-xs-10 col-xs-offset-1 col-md-offset-0  col-md-6">
      <div class="stack twisted text-center">
        <%= link_to campaign_votes_path(
          vote: {
            voted_picture_id: @campaign.picture_b_id,
          },
          campaign_id: @campaign.id),
          method: :post do %>
          <%= image_tag (Picture.find(@campaign.picture_b_id).file), size: "300x300" %>
        <% end %>
      </div>
    </div>

</div>

<br/>
<br/>
<br/>

<div class="text-center">
  You voted <%= current_user.votes.length %> time(s).
  <br/>
  <% if current_user.votes.length > 4 %>
    <%= link_to 'Done', finish_voting_path %>
  <% else %>
    Only <%= 5 - current_user.votes.length %> votes left !
    <br/>
    <br/>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%= ((current_user.votes.length + 1) / 6.0) * 100 %>%">
      </div>
    </div>
</div>

<% end %>





