<!DOCTYPE html>
<html>
<head>
  <link rel="icon"
      type="image/png"
      href="http://s29.postimg.org/6jm2v3cab/favicon.png">
  <title> <%= yield(:title)%> | TinderGenius </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <%= render 'layouts/sessions' %>

  <%= yield %>

  <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>

</body>
</html>
